services:

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:8080
    image: niko2s/ft-client:latest
    ports:
      - "5174:80"
    depends_on:
      - server
  
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: niko2s/ft-server:latest
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    environment:
      DEV_DB: "postgres://user:password@db:5432/mydatabase?sslmode=disable"
      AUTH_JWT_SECRET: "asdfsdfasdfasdfasdfasdfasdfasdf" # only for test purposes
      REFRESH_JWT_SECRET: "qwerqwerqwerqwerqwerqwerqwerq" # only for test purposes
      ALLOWED_ORIGIN: "http://localhost:5174"

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: "mydatabase"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydatabase"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
